nav.menu#sidebar(class="bg-blue-100 md:bg-blue-50 h-screen w-0 fixed z-1 top-0 left-0 overflow-x-hidden transition-all duration-300 ease-in-out md:w-1/5")
    div(class="h-full flex flex-col items-center justify-between gap-5 py-20 mx-5 text-xl") 
        p(class="font-bold") LOGO

        ul(class= 'space-y-5 block transition-300 w-full font-medium text-slate-500')
            li(class="flex items-center justify-start gap-5 transition-all duration-200 ease-in-out hover:bg-blue-200 px-8 py-3 rounded-2xl")  
                img(src="/img/inicio.webp", alt="inicio" class="w-5")
                a(href='/') Inicio

            li(class="flex items-center justify-start gap-5 transition-all duration-200 ease-in-out hover:bg-blue-200 px-8 py-3 rounded-2xl") 
                img(src="/img/pacientes.webp", alt="pacientes" class="w-5")
                a(href='/pacientes') Pacientes

            li(class="flex items-center justify-start gap-5 transition-all duration-200 ease-in-out hover:bg-blue-200 px-8 py-3 rounded-2xl") 
                img(src="/img/habitaciones.webp", alt="habitaciones" class="w-5")
                a(href='/habitaciones') Habitaciones

            li(class="flex items-center justify-start gap-5 transition-all duration-200 ease-in-out hover:bg-blue-200 px-8 py-3 rounded-2xl") 
                img(src="/img/ingresos.webp", alt="ingresos" class="w-5")
                a(href='#') Ingresos

            li(class="flex items-center justify-start gap-5 transition-all duration-200 ease-in-out hover:bg-blue-200 px-8 py-3 rounded-2xl") 
                img(src="/img/altas.webp", alt="altas" class="w-5")
                a(href='#') Altas

            li(class="flex items-center justify-start gap-5 transition-all duration-200 ease-in-out hover:bg-blue-200 px-8 py-3 rounded-2xl") 
                img(src="/img/configuracion.webp", alt="configuracion" class="w-5")
                a(href='#') Configuración


        div(class="flex items-center gap-4 transition-all duration-200 ease-in-out hover:bg-blue-200  px-8 py-3 rounded-2xl  font-medium text-slate-500") 
            img(src="/img/salir.webp", alt="cerrar-sesion" class="w-5")
            a(href='#') Cerrar sesión
